.cardContainer {
    width: 100%;

    background-color: var(--white);
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.05);

    padding: 1rem;

    margin: 0.5rem auto 0;

    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    gap: 0% 2%;
    grid-auto-flow: row;
    grid-template-areas:
        "photo info"
        "challenges challenges"
        "xp xp";

    border-radius: 0.313rem;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    -ms-border-radius: 0.313rem;
    -o-border-radius: 0.313rem;
}



.photo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    grid-area: photo;
}
.photo > * {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "username username"
        "level level";
    grid-area: info;
}

.username {
    align-self: flex-end;

    grid-area: username;

    text-overflow: ellipsis;
    overflow-x: hidden;
}
.username strong {
    color: var(--title);
    font-size: 1.3rem;
    font-weight: 600;

    white-space: nowrap;
}

.level {
    height: fit-content;

    background-color: var(--green-very-light);
    color: var(--green);

    display: flex;

    grid-area: level;
    column-gap: 0.5rem;
}
.level span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.challenges { align-self: flex-end; grid-area: challenges; }
.xp         { align-self: flex-start; grid-area: xp; }
.challenges, .xp {
    background-color: var(--blue-very-light);
    color: var(--blue);

    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 0.5rem;
}
.challenges span, .xp span {
    font-weight: 500;

    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}



/* Desktop */
@media(min-width: 821px) {
    .cardContainer {
        grid-template-columns: 0.5fr 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "photo info challenges xp";
        gap: 0% 1%;
    }

    .level {
        background-color: initial;
        color: initial;
    }
    .level span { max-width: 5rem; }

    .challenges, .xp {
        background-color: initial;
        color: initial;

        justify-content: normal;
        align-self: center;
    }
    .challenges span, .xp span {
        max-width: 5rem;

        color: var(--blue);
    }
}
