.challengeBoxContainer {
  height: 100%;

  background: var(--cb-background);
  box-shadow: 0 0 60px var(--shadow-5p);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.challengeNotActive {
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.challengeNotActive strong {
  max-width: 70%;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}
.challengeNotActive > div {
  max-width: 70%;

  margin-top: 4.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
}
/* - Next/Image */
.challengeNotActive > div > div { margin-bottom: 1rem !important; }

.endTheCycle {
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.endTheCycle strong {
  max-width: 75%;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}
.endTheCycle > div {
  max-width: 70%;

  margin-top: 4.5rem;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

}
/* - Next/Image */
.endTheCycle > div > div { margin-right: 1rem !important; }
.endTheCycle > div p { text-align: left; }

.challengeActive {
  height: 100%;

  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
}
.challengeActive header {
  color: var(--cb-earn-xp);

  font-size: 1.25rem;
  font-weight: 600;

  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--line);
}
.challengeActive main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.challengeActive main strong {
  color: var(--cd-new-challenge-title);

  font-size: 2rem;
  font-weight: 600;

  margin: 1.5rem 0 1rem;
}
.challengeActive main p { line-height: 1.5; }

.challengeBoxContainer footer {
  width: 100%;

  background: var(--line);

  display: grid;
  grid-template-columns: 1fr 1fr; /* or repeat(2, 1fr) */
  gap: 1px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.challengeBoxContainer footer button {
  height: 5rem;

  font-size: 1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-top: 1px solid var(--line);

  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.challengeBoxContainer footer button.challengeFailButton {
  background: var(--cb-btn-Fail);
  color: var(--cb-btn-txt-Fail);

  border-bottom-left-radius: 5px;
}
.challengeBoxContainer footer button.challengeFailButton:hover {
  background: var(--cb-btn-Fail-hover);
  color: var(--cb-btn-txt-Fail-hover);
}
.challengeBoxContainer footer button.challengeSucceededButton {
  background: var(--cb-btn-success);
  color: var(--cb-btn-txt-success);

  border-bottom-right-radius: 5px;
}
.challengeBoxContainer footer button.challengeSucceededButton:hover {
  background: var(--cb-btn-success-hover);
  color: var(--cb-btn-txt-success-hover);
}