.containerCookieConsentModal {
    width: 100vw;

    background: url(../../../public/icons/cookie.svg) no-repeat left 90px var(--yellow);

    padding: 1rem 2rem;

    position: fixed;
    bottom: 0;

    z-index: 50;
}



.containerCookieConsentModal ul li {
    list-style-type: none;

    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerCookieConsentModal ul li div:first-of-type {
    padding-right: 1rem;
}

.containerCookieConsentModal ul li div:not(div:first-of-type) button {
    width: 100%;
    height: 100%;
    min-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;

    background: var(--brown);
    color: var(--white);
    border: 0;
    font-size: 1.05rem;
    font-weight: 600;

    padding: 1rem 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
.containerCookieConsentModal ul li div:not(div:first-of-type) button:hover {
    background: var(--brown-dark);
}



/* Mobile | Tablet */
@media (max-width: 820px) {
    .containerCookieConsentModal ul li {
        display: block;
    }
    .containerCookieConsentModal ul li div:first-of-type {
        padding-right: 0;

        display: flex;
        flex-direction: column;
    }
    .containerCookieConsentModal ul li div:first-of-type strong {
        margin-bottom: 5px;
    }
    .containerCookieConsentModal ul li div:not(div:first-of-type) button {
        margin-top: 1rem;
        padding: 1rem;
    }
}

@media (max-width: 450px) {
    .containerCookieConsentModal {
        padding: 0;
    }
    .containerCookieConsentModal ul li div:first-of-type {
        align-items: center;
    }
    .containerCookieConsentModal ul li div:first-of-type p {
        text-align: center;
    }
}