/* Countdown */
.countdownContainer {
  color: var(--title);
  font-family: Rajdhani;
  font-weight: 600;

  display: flex;
  align-items: center;
}
.countdownContainer > div {
  background: var(--white);
  box-shadow: 0 0 68px rgba(0, 0, 0, 0.05);

  font-size: 8.5rem;
  text-align: center;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.countdownContainer > div span {
  flex: 1;
}
.countdownContainer > div span:first-child {
  border-right: 1px solid #f0f1f3;
}
.countdownContainer > div span:last-child {
  border-left: 1px solid #f0f1f3;
}
.countdownContainer > span {
  font-size: 6.25rem;

  margin: 0 0.5rem;
}

/* Button */
.countdownButton {
  width: 100%;
  height: 5rem;

  background: var(--blue);
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;

  margin-top: 2rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;

  overflow: overlay;
}
.countdownButton:not(:disabled):hover {
  background: var(--blue-dark);
}
.countdownButton p {
  font-size: initial;
  font-weight: 100;
}
.countdownButtonActive {
  background: var(--white);
  color: var(--text);
}
.countdownButtonActive:hover img {
  filter: brightness(100);
}
.countdownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--white);
}
.countdownButton:disabled {
  background: var(--white);
  color: var(--text);

  cursor: not-allowed;
}

/* ProgressBarCountdown */
.countdownButton > .currentCountdown {
  height: 4px;
  background: var(--gray-line);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.countdownButton > .currentCountdown > div {
  height: 4px;
  background: var(--green);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}