/* Countdown */
.countdownContainer {
  color: var(--cd-timer-background);
  font-family: Rajdhani;
  font-weight: 600;

  display: flex;
  align-items: center;
}
.countdownContainer > div {
  background: var(--cd-timer-foreground);
  box-shadow: 0 0 68px var(--shadow-5p);

  font-size: 8.5rem;
  text-align: center;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.countdownContainer > div span { flex: 1; }
.countdownContainer > div span:first-child { border-right: 0.063rem solid var(--cd-timer-divisor-line); }
.countdownContainer > div span:last-child  { border-left:  0.063rem solid var(--cd-timer-divisor-line); }
.countdownContainer > span {
  font-size: 6.25rem;

  margin: 0 0.5rem;
}

/* Button */
.countdownButton {
  width: 100%;
  height: 5rem;

  background: var(--cd-btn-bg-start-cycle);
  color: var(--cd-btn-fg-start-cycle);
  font-size: 1.25rem;
  font-weight: 600;

  margin-top: 2rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;

  overflow: hidden;
}
.countdownButton:not(:disabled):hover { background: var(--cd-btn-bg-start-cycle-hover); }
.countdownButton p {
  font-size: initial;
  font-weight: 100;
}
.countdownButtonActive {
  background: var(--cd-btn-bg-abandon-cycle);
  color: var(--cd-btn-fg-abandon-cycle);
}
.countdownButtonActive:not(:disabled):hover {
  background: var(--cd-btn-bg-abandon-cycle-hover);
  color: var(--cd-btn-fg-abandon-cycle-hover);
}
.countdownButton:disabled {
  background: var(--cd-bg-btn-closed-cycle);
  color: var(--cd-fg-btn-closed-cycle);

  cursor: not-allowed;
}

/* ProgressBarCountdown */
.countdownButton > .currentCountdown {
  height: 4px;
  background: var(--line);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.countdownButton > .currentCountdown > div {
  height: 100%;
  background: var(--cd-progress-bar);

  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;

  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}