.overlay {
    background: var(--dm-bg-overlay);

    padding: 1.5rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 40;

    .container {
        width: 100%;

        background: var(--dm-background);
        box-shadow: 0 0 3.75rem var(--shadow-5p);

        border-radius: 0.313rem;
        -webkit-border-radius: 0.313rem;
        -moz-border-radius: 0.313rem;
        -ms-border-radius: 0.313rem;
        -o-border-radius: 0.313rem;
    }
}