.overlay {
    background: var(--dm-bg-overlay);

    padding: 1.5rem;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 40;
}
.container {
    width: 100%;

    background: var(--dm-background);
    box-shadow: 0 0 60px var(--shadow-5p);

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}