.overlay {
    background: rgba(242, 243, 245, 0.8);

    padding: 1.5rem;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}
.container {
    width: 100%;

    background: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}