.experienceBar {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
}
.experienceBar span {
  font-size: 1rem;
}
.experienceBar > div {
  height: 4px;
  background: var(--gray-line);

  margin: 0 1.5rem;
  position: relative;
  flex: 1;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.experienceBar > div > div {
  height: 4px;
  background: var(--green);

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.experienceBar > div span.currentExperience {
  padding: 5px;

  opacity: 0.9;
  white-space: nowrap;

  position: absolute;
  top: 12px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.experienceBar > div span.currentExperience div.arrowExperience {
  width: 12px;
  height: 12px;

  margin: auto;
  padding: 1px;

  position: absolute;
  top: -6px;
  left: 0;
  right: 0;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.experienceBar > div span.currentExperience,
.experienceBar > div span.currentExperience div.arrowExperience {
  background: var(--white);

  filter: blur(0.3px);
  -webkit-filter: blur(0.3px);
  -moz-filter: blur(0.3px);
  -ms-filter: blur(0.3px);
  -o-filter: blur(0.3px);
}