/* Container Menu */
.floatingActionButtonContainerMenu {
    background-color: transparent;

    position: fixed;
    right: 0;
    bottom: 0;

    margin: var(--fab-size-placement);

    z-index: 30;

    /* Menu */
    .floatingActionButtonMenu {
        height: var(--fab-size-regular);
        width: var(--fab-size-regular);
        min-height: 2.25rem;
        min-width: 0;

        background-color: var(--fab-default);
        color: var(--fab-foreground);
        box-shadow: 0 0.188rem 0.313rem -0.063rem rgb(0 0 0 / 20%), 0 0.375rem 0.625rem 0 rgb(0 0 0 / 14%), 0 0.063rem 1.125rem 0 rgb(0 0 0 / 12%);
        box-sizing: border-box;
        outline: none;
        border: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        &:hover  { background-color: var(--fab-dark); }
        &:active { background-color: var(--fab-light); }

        img {
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            -ms-transition: all 0.25s;
            -o-transition: all 0.25s;
        }
    }
}

/* Container Itens */
.floatingActionButtonContainerItens {
    height: var(--fab-size-regular);
    width: var(--fab-size-regular);
    min-height: 2.25rem;
    min-width: 0;

    background-color: transparent;

    position: fixed;
    right: 0;
    bottom: 0;

    margin: var(--fab-size-placement);

    z-index: 20;

    /* Itens */
    .FABhome,
    .FABleaderbord,
    .FABsettings {
        width: var(--fab-size-mini);
        height: var(--fab-size-mini);

        background-color: var(--fab-mini-default);
        color: var(--fab-foreground);
        box-shadow: 0.438rem 0.438rem 0.438rem 0 rgb(0 0 0 / 14%);
        outline: none;
        border: 0;

        position: absolute;
        top: calc(var(--fab-size-placement) - var(--fab-size-placement) / 2);
        left: calc(var(--fab-size-placement) - var(--fab-size-placement) / 2);

        transition-property: all;
        transition-duration: 0.35s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

        transform: rotateZ(90deg);
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);

        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        /* - Next/Image */
        img { filter: brightness(100); }

        &:hover  { background-color: var(--fab-mini-dark) }
        &:active { background-color: var(--fab-mini-light) }
    }
}



/* Desktop */
@media (min-width: 601px) {
    .floatingActionButtonContainerMenu,
    .floatingActionButtonContainerItens { display: none; }
}