/* Desktop */
.form {
    display: flex;
    align-items: center;

    .inputUsername {
        width: calc(100% - 30%);
        max-width: 30rem;
        min-width: 22rem;
        height: 5rem;

        background: var(--lf-background);
        color: var(--lf-foreground);
        outline: none;
        border: 0.063rem solid var(--lf-input-border);
        border-right: 0.063rem solid var(--lp-background);
        font-size: 1.30rem;
        font-weight: 400;

        padding-left: 2rem;

        border-radius: 0.313rem 0 0 0.313rem;
        -webkit-border-radius: 0.313rem 0 0 0.313rem;
        -moz-border-radius: 0.313rem 0 0 0.313rem;
        -ms-border-radius: 0.313rem 0 0 0.313rem;
        -o-border-radius: 0.313rem 0 0 0.313rem;

        &:hover, &:focus {
            border-top:    0.063rem solid var(--lf-input-border-hover);
            border-bottom: 0.063rem solid var(--lf-input-border-hover);
            border-left:   0.063rem solid var(--lf-input-border-hover);
        }

        &::placeholder       { color: var(--lf-input-placeholder); }
        &:focus::placeholder { color: var(--lf-input-placeholder-focus) }

        &:not(:placeholder-shown)~.btnSubmit { background: var(--lf-input-placeholder-filled-btn); }
    }

    .btnSubmit {
        width: 5rem;
        height: 5rem;

        background: var(--lf-bg-btn);
        outline: none;
        border: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;

        border-radius: 0 0.313rem 0.313rem 0;
        -webkit-border-radius: 0 0.313rem 0.313rem 0;
        -moz-border-radius: 0 0.313rem 0.313rem 0;
        -ms-border-radius: 0 0.313rem 0.313rem 0;
        -o-border-radius: 0 0.313rem 0.313rem 0;

        &:hover {
            filter: brightness(95%);
            -webkit-filter: brightness(95%);
        }
        &:active {
            filter: brightness(90%);
            -webkit-filter: brightness(90%);
        }
    }
}



/* Tablet & Mobile */
@media (max-width: 500px) {
    .form {
        justify-content: center;

        .inputUsername {
            min-width: 10rem;
            height: 3.5rem;

            padding-left: 1.4rem;

            &::placeholder { font-size: 0.91rem; }
        }
        .btnSubmit {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}