.profileContainer {
    display: flex;
    align-items: center;
}
.profileContainer > img {
    width: 5.5rem;
    height: 5.5rem;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profileContainer div.separation {
    margin-left: 1.5rem;
}
.profileContainer div.separation strong {
    color: var(--title);
    font-size: 1.5rem;
    font-weight: 600;
}
.profileContainer div.separation div.levelContainer {
    margin-top: 0.5rem;

    display: flex;
    align-items: center;
}
.profileContainer div.separation div.levelContainer div.levelImage {
    margin-right: 0.5rem;
}
.profileContainer div.separation div.levelContainer p {
    font-size: 1rem;
}