aside.sidebarContainer {
  height: 100vh;
  width: 4.5rem;
  background: linear-gradient(180deg, var(--white) 0%, transparent 100%);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  filter: drop-shadow(0px 0px 60px var(--shadow-5p));

  z-index: 10;
}
.subContainer {
  height: 100%;
  width: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



div.logoContainer {
  position: absolute;
  top: 0;

  margin-top: 1rem;
}


main.mainPages,
div.settingsPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}



div.settingsPageContainer {
  position: absolute;
  bottom: 0;

  margin-bottom: 0.5rem;
}



button.btnPage {
  width: calc(100% - 5px); /* ~px border.btnPage */

  background-color: transparent;
  text-decoration: none;
  outline: none;
  border: 0;
  border-left: solid 5px transparent;

  padding: 0.5rem 0;
}
button.btnPage:hover { border-left: 5px solid var(--grey-300); }

/* - Next/Image */
button.btnPage,
button.btnPage img {
    transition: 0.2s !important;
    -webkit-transition: 0.2s !important;
    -moz-transition: 0.2s !important;
    -ms-transition: 0.2s !important;
    -o-transition: 0.2s !important;
}
/* - Next/Image */
button.btnPage img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    opacity: 0.4;
}



/* Mobile (_aside) */
@media (max-width: 600px) { /* 600px ↑ aparece o aside */
  aside.sidebarContainer { display: none; }
}