.container {
    width: 100%;

    color: var(--toast-foreground);
    box-shadow: 20px 20px 20px 0 var(--shadow-5p), -7px -7px 20px 0px var(--shadow-1p);
    font-size: 1.30rem;
    font-weight: 400;

    position: fixed;
    bottom: 0;
    right: -100%;

    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    z-index: 50;
}

.subContainer { display: flex; }
.iconContainer {
    display: flex;
    margin-right: 0.5rem;
}



/* Countdown to close Toast */
.currentCountdown {
    height: 4px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.currentCountdown > div {
    height: 100%;

    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;

    transition: 1s linear;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
}



/* Mobile | Tablet */
@media(max-width: 650px) {
    .container {
        font-size: 1.20rem;

        padding: 1.5rem;
    }
}
@media(max-width: 500px) {
    .container {
        font-size: 1.10rem;

        padding: 1.2rem;
    }
}
@media(max-width: 450px) { .container { padding: 1rem; } }