.container {
    height: 100vh;

    background-color: var(--404-background);

    display: flex;
    justify-content: center;
    align-items: center;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, h3 {
            color: var(--404-text);

            font: normal 1.5rem 'Indie Flower', cursive;
            text-align: center;
        }

        div.pictures {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                background-color: transparent;
                border: none;

                div > div {
                    width: 17rem;
                    height: 17rem;
                }

                > div:hover {
                    animation: scale-up-center 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                    -webkit-animation: scale-up-center 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                }
                > div:hover ::after {
                    content: "Home";

                    color: var(--404-text);
                    font: normal 1.5rem 'Indie Flower', cursive;

                    display: flex;

                    position: relative;
                    left: 13.5rem;
                    bottom: 2.5rem;
                }
            }

            > div:nth-of-type(1) {
                margin-bottom: 4rem !important;
                display: none !important;

                animation: rotate-40-ccw 1200ms ease-in-out infinite alternate;
                -webkit-animation: rotate-40-ccw 1200ms ease-in-out infinite alternate;
            }
            > div:nth-of-type(2) {
                animation: slide-top 1250ms ease-in-out infinite alternate;
                -webkit-animation: slide-top 1250ms ease-in-out infinite alternate;
            }
        }
    }
}



/* scale-up-center */
@keyframes scale-up-center {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}
/* rotate */
@keyframes rotate-40-ccw {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    100% {
        transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        -o-transform: rotate(40deg);
    }
}
/* slide-top */
@keyframes slide-top {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    100% {
        transform: translateY(-3.125rem);
        -webkit-transform: translateY(-3.125rem);
        -moz-transform: translateY(-3.125rem);
        -ms-transform: translateY(-3.125rem);
        -o-transform: translateY(-3.125rem);
    }
}



@media (min-width: 320px) { .container main h1 { font-size: 2rem; } }
@media (min-width: 520px) { .container main h1 { font-size: 2.5rem; } }
@media (min-width: 620px) {
    .container main div.pictures {
        margin-right: 9.063rem;

        flex-direction: row-reverse;

        > div:nth-of-type(1) { display: block !important; }
        > div:nth-of-type(2) { display: none !important; }
    }
}