/* Desktop */
.container {
    max-width: 972px;
    height: 100vh;

    margin: 0 auto;
    padding: 1.5rem 2rem 1.5rem 6.5rem;

    display: flex;
    flex-direction: column;
}
.container section {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}



.container h3 {
    margin: 1rem 0 3rem 0;
}



/* Mobile && Tablet */
@media (max-width: 820px) {
    .container {
        max-width: 620px;
    }
    .container section {
        grid-template-columns: 1fr;
    }
}

/* Mobile (_aside) */
@media (max-width: 600px) {
    .container {
        padding-left: 2rem;
    }
}