/* Desktop */
.container {
    max-width: 60.75rem;
    height: 100vh;

    margin: 0 auto;
    padding: 1.5rem 2rem 1.5rem 6.5rem;

    display: flex;
    flex-direction: column;
}



.subTitle                 { color: var(--stt-title); }
.subTitle.dangerZoneTitle { color: var(--dz-title); }
.separator {
  width: 10%;
  height: 0.063rem;

  background-color: var(--line);

  margin: 0.2rem 0 1rem;
}



.container section.profileContainer,
.container main { padding: 4rem 1rem; }


.subTitle:not(h2.subTitle:first-of-type) { margin-top: 3rem; }



/* Mobile && Tablet */
@media (max-width: 820px) {
    .container { max-width: 38.75rem; }
    .container section { grid-template-columns: 1fr; }
}

/* Mobile (_aside) */
@media (max-width: 600px) { .container { padding-left: 2rem; } }