* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Aplicada a regra de harmonia de cores */
  --white: #fff;
  --black: #000;

  --red-very-light : #fff5f5;
  --red-light      : #f54260;
  --red            : #e83f5b;
  --red-dark       : #691c29;

  --green-very-light : #f7fff5;
  --green-light      : #52e32d;
  --green            : #4cd62b;
  --green-dark       : #1f5711;

  --blue-very-light   : #f5fcff;
  --blue-light        : #5f6bed;
  --blue              : #5965e0;
  --blue-dark         : #4953b8;
  --blue-input-border : #414aa3;
  --blue-twitter      : #2aa9e0;

  --background : #f2f3f5;
  --gray-line  : #dcdde0;
  --shadow     : #babecc;
  --dark-gray  : #4b4b4b;

  --title : #2e384d;

  --text-highlight : #b3b9ff;
  --text           : #666;

  /* Floating Action Button */
  --FAB-light : #5f6bed;
  --FAB       : #5965E0;
  --FAB-dark  : #4953b8;

  --mini-FAB-light : #4F58C4;
  --mini-FAB       : #4953b8;
  --mini-FAB-dark  : #3F479E;

  /* TOAST-colors */
  --toast-success : #4cd62b; /* Ratio 1.92 */
  --toast-warn    : #ffc107; /* Ratio 1.63 */
  --toast-error   : #f54260; /* Ratio 3.60 */
  --toast-info    : #2195f3; /* Ratio 3.15 */

  /* JSON-colors */
  --dark-background : #282a36;
  --comment         : #6272a4;
  --variable        : #bd93f9;
  --pink-dot        : #ff79c6;
  --yellow-text     : #f1fa8c;
  --gray-text       : #666;

  /* Danger Zone */
  --border-danger      : #f8514966;
  --box-shadow-input   : #5965e080;
  --danger-red         : var(--red-light);
  --danger-gray        : var(--background);
  --danger-description : #c9d1d9;

  /* MATERIAL DESIGN float action button sizes */
  --regular-size   : 56px;
  --mini-fab-size  : 40px;
  --side-placement : 16px;
  --plus-size      : 16px; /*24px*/
}

body {
    background-color: var(--background);
    color: var(--text);
}

body,
button,
input,
textarea {
    font: 400 1rem "inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}



@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 87.5%;
  }
}



/* isActivePage - _Sidebar */
.activePage {
  border-left: 5px solid var(--blue) !important;

  opacity: 1 !important;
}
.activePage img {
  filter: grayscale(0) !important;
  -webkit-filter: grayscale(0) !important;

  opacity: 1 !important;
}



/* isCheckedButton- _FloatingActionButton */
.activePageButton {
  background-color: var(--white);

  transition: all 0.2s !important;
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s !important;
  -ms-transition: all 0.2s !important;
  -o-transition: all 0.2s !important;
}
.activePageButton:hover {
  background-color: var(--background);
}
.activePageButton:active {
  background-color: var(--blue-very-light);
}
.activePageButton img {
  filter: grayscale(0) !important;
  -webkit-filter: grayscale(0) !important;

  opacity: 1 !important;
}
.FABchecked img {
  transform: rotatez(-45deg);
  -webkit-transform: rotatez(-45deg);
  -moz-transform: rotatez(-45deg);
  -ms-transform: rotatez(-45deg);
  -o-transform: rotatez(-45deg);
}
.FABenabled button#FABhome {
  transform: translateY(-5em);
  -webkit-transform: translateY(-5em);
  -moz-transform: translateY(-5em);
  -ms-transform: translateY(-5em);
  -o-transform: translateY(-5em);
}
.FABenabled button#FABleaderbord {
  transition-delay: 0.1s;

  transform: translateX(-3.5em) translateY(-3.5em);
  -webkit-transform: translateX(-3.5em) translateY(-3.5em);
  -moz-transform: translateX(-3.5em) translateY(-3.5em);
  -ms-transform: translateX(-3.5em) translateY(-3.5em);
  -o-transform: translateX(-3.5em) translateY(-3.5em);
}
.FABenabled button#FABsettings {
  transition-delay: 0.2s;

  transform: translateX(-5em);
  -webkit-transform: translateX(-5em);
  -moz-transform: translateX(-5em);
  -ms-transform: translateX(-5em);
  -o-transform: translateX(-5em);
}



/* activeTheme - Theme */
.activeTheme {
    background: var(--blue-light) !important;
    color: white !important;
    border-right: 5px solid var(--blue-dark) !important;
}



/* colorDisplays - Theme */
.colorDisplays svg {
  animation: fadeIn 0.5s !important;
}



/* Animations */
@keyframes sideSlideOn {
  from {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
}
  to {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
}

}
@keyframes sideSlideOff {
  from {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}



/* Scrollbar */
/*  ::-webkit-scrollbar              { /* 1 *-/ }  */
/*  ::-webkit-scrollbar-button       { /* 2 *-/ }  */
/*  ::-webkit-scrollbar-track        { /* 3 *-/ }  */
/*  ::-webkit-scrollbar-track-piece  { /* 4 *-/ }  */
/*  ::-webkit-scrollbar-thumb        { /* 5 *-/ }  */
/*  ::-webkit-scrollbar-corner       { /* 6 *-/ }  */
/*  ::-webkit-resizer                { /* 7 *-/ }  */



/* 1 */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
}
::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
  background: transparent;   /*default: #F4F4F4*/
}
/* 5 */
::-webkit-scrollbar-thumb {
  background: var(--blue);   /*default: #dad7d7*/

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* 6 */
::-webkit-scrollbar-corner {
  background: transparent;
}



/* Card user */
span::-webkit-scrollbar,
strong::-webkit-scrollbar,
.cardUsername::-webkit-scrollbar {
  height: 2px;
}

/* Json */
.jsonUser::-webkit-scrollbar {
  height: 6px;
}
.jsonUser::-webkit-scrollbar-thumb {
  background: var(--variable);
}